html, body {
    padding: 0px;
    margin: 0px;
}
header {
    color: #ffff;
    background-color: #004A7C;
}
header h1{
    font-size: 20px;
}
.header-button{
    color: #ffff;
    text-decoration: none;
    border: none;
    padding: 20px;
    background-color: #004A7C;
    font-weight: 700;
}
.header-button:hover {
    background-color: #01538a;
    color: inherit;
}
.flag-icon {
    font-size: 30px;
    width: 80px;
    height: 80px;
}
.text-rate {
    transition: 0.5s;
}
.text-rate:hover {
    font-size: 20px;
}
p   {
    font-size: 18px;
}